@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
0 - 600px:      Phone
600 - 900px:    Table Portrait
900 - 1200px:   Tablet Landscape

[1200 - 1800] is where our normal styles apply

1800px + :       Big Desktop
*/

@mixin respond-phone {
    @media (max-width: 600px) {
        @content;
    }
}

/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
*/
@mixin respond($breakpoint) {

    @if $breakpoint == tab-land {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @if $breakpoint == tab-port {
        @media (max-width: 900px) {
            @content;
        }
    }
    
    @if $breakpoint == phone {
        @media (max-width: 600px) {
            @content;
        }
    }
    
    @if $breakpoint == big-desktop {
        @media (min-width: 1800px) {
            @content;
        }
    }

}
