.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem;
    font-size: 1.4rem;

    &__logo-box {

    }

    &__logo {

    }

    &__navigation {

    }

    &__list {

    }

    &__item {

    }

    &__link {
        
    }
}