.card {
    perspective: 150rem;
    

    &__side {
        background-color: orangered;
        height: 50rem;
        transition: all .8s;

        &--front {

        }

        &--back {
            
        }
    }

    &:hover &__side {
        transform: rotateY(180deg);
    }
}