.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 2500;
    
    &__content {
        @include absCenter;
        
        width: 75%;
        height: 50rem;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
    }

    &__left {

    }

    &__right {

    }

    &__img {

    }

    &__text {
        
    }
}