*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what we want 1 rem equal to
    font-size: 62.5%;

    @include respond-phone {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
}
