.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgb($color-primary-dark, 0.8)),
        url(../../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -15rem;
    height: 100rem;

    @include respond(phone) {
        margin: 10rem 0 25rem;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: skewY(7deg);
        margin-top: 20rem;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
            margin-bottom: 55rem;
        }
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -15rem;

    &__container {
        margin-top: 8rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include respond(phone) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}

.section-stories {
    position: relative;
    padding: 7rem 0;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
    
}

.book {
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 50%, transparent 50%), url(../../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);

    @include respond(phone) {
        margin: 0 auto;
        height: auto;
        width: 60%;
    }

    &__form {
        width: 50%;
        padding: 6rem;
    }
}
